<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sensor.type %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @sensor.unity %>
</p>

<p>
  <strong>Beehive:</strong>
  <%= @sensor.beehive.name %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#sensors').addClass('active');
  });
</script>