<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>


<h3>
  <strong>Sensor:</strong>
  <%= @sensor.name %>
</h3>

<p>
  <strong>Beehive:</strong>
  <%= @sensor.beehive.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sensor.type %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @sensor.unity %>
</p>


<br/>
<br/>


<h4>Measurements</h4>

<table class="table">
  <thead>
    <tr>
      <th>Value</th>
       <th>Unity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @sensor.measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.value %></td>
        <td><%= @sensor.unity %></td>
        <td><%= measurement.datetime %></td>
        <td><%= link_to 'Show', measurement, class:"btn btn-default btn-xs"  %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement), class:"btn btn-default btn-xs"  %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<h4>Alerts</h4>
<table class = "table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Comparison</th>
      <th>Frequency</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor.alerts.each do |alert| %>
      <tr>
        <td><%= alert.messageTypeArray[(alert.alert_type).to_i] %></td>
        <td><%= alert.comparisonArray[(alert.comparison).to_i] %> <%= alert.threshold %> <%= alert.sensor.unity %></td>
        <td><%= alert.frequency %> min.</td>
        <td><%= alert.active %></td>
        <td><%= link_to 'Show', alert, class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert), class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>

<%= link_to 'Edit', edit_sensor_path(@sensor), class:"btn btn-default btn-xs"  %> |
 <%= link_to 'Configure Alert', new_alert_path(:sensor_id => @sensor.id) , class: "btn btn-warning btn-xs" %> |
<%= link_to 'Back', @sensor.beehive, class:"btn btn-default btn-xs"  %>
<% if current_user.access_level == 99 %>
  <br/>
  <br/>
    <%= link_to '(ADMIN) Add Measure', new_measurement_path(:sensor_id => @sensor.id) , class: "btn btn-default btn-xs" %> 
<% end %>

    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#sensors').addClass('active');
  });
</script>