<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>
      <h1 class="page-header">Alerts</h1>

<table class = "table">
  <thead>
    <tr>
      <th>For</th>
      <th>Type</th>
      <th>Comparison</th>
      <th>Frequency</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.sensor.beehive.name %>, <%= alert.sensor.type %></td>
        <td><%= alert.messageTypeArray[(alert.alert_type).to_i] %></td>
        <td><%= alert.comparisonArray[(alert.comparison).to_i] %> <%= alert.threshold %> <%= alert.sensor.unity %></td>
        <td><%= alert.frequency %> min.</td>
        <td><%= alert.active %></td>
        <td><%= link_to 'Show', alert, class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert), class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>

<br>

<%= link_to 'New Alert', sensors_path, class: "btn btn-warning" %> 
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#alerts').addClass('active');
  });
</script>
