<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>


<p>
  <strong>Type:</strong>
  <%= @alert.type %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @alert.frequency %>
</p>

<p>
  <strong>Message:</strong>
  <%= @alert.message %>
</p>

<p>
  <strong>Threshold:</strong>
  <%= @alert.threshold %>
</p>

<p>
  <strong>Comparison:</strong>
  <%= @alert.comparison %>
</p>

<p>
  <strong>Active:</strong>
  <%= @alert.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @alert.user %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @alert.sensor %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#alerts').addClass('active');
  });
</script>