<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>

<h3>Alert for  
  <%= @alert.sensor.type %>, beehive <%= @alert.sensor.beehive.name %>
</h3>
<p>
  <strong>Type:</strong>
  <%= @alert.messageTypeArray[(@alert.alert_type).to_i] %>
</p>

<p>
  <strong>Frequency:</strong>
  Every <%= @alert.frequency %> minutes
</p>

<p>
  <strong>Message:</strong>
  <%= @alert.message %>
</p>

<p>
  <strong>When:</strong>
  <%= @alert.comparisonArray[(@alert.comparison).to_i] %> <%= @alert.threshold %> <%= @alert.sensor.unity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @alert.active %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert), class:"btn btn-default btn-xs" %> |
<%= link_to 'Back', @alert.sensor, class:"btn btn-default btn-xs" %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#alerts').addClass('active');
  });
</script>