<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>
      <h1 class="page-header">Measurements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Beehive</th>
      <th>Datetime</th>
      <th>Value</th>
      <th>Unity</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.sensor.beehive.name %></td>
        <td><%= measurement.datetime %></td>
        <td><%= measurement.value %></td>
        <td><%= measurement.sensor.unity %></td>
        <td><%= link_to 'Show', measurement, class:"btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Measurement', new_measurement_path, class: "btn btn-warning" %> -->
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#measurements').addClass('active');
  });
</script>
