<%= form_for(@beehive) do |f| %>
  <% if @beehive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beehive.errors.count, "error") %> prohibited this beehive from being saved:</h2>

      <ul>
      <% @beehive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
    <select name="beehive[mode]">
      <option value="1" selected="selected">Summer</option>
      <option value="2">Winter</option>
    </select>
  </div>
  <div class="actions">
    <%= f.submit "Save Beehive", class: "btn btn-warning"  %>
  </div>
<% end %>
