<div class="container-fluid">
  <div class="row">
    <%= render 'main/sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @beehive.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @beehive.position %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @beehive.mode %>
</p>

<p>
  <strong>User:</strong>
  <%= @beehive.user %>
</p>

<%= link_to 'Edit', edit_beehive_path(@beehive) %> |
<%= link_to 'Back', beehives_path %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#beehives').addClass('active');
  });
</script>